<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Comentarios</title>


  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>


  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>


  {% include "home/navbar.html" %}
  <style>
    .activator {
      width: 100%;
      height: 15vw;
      object-fit: cover;
    }
  </style>
  <script>

    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.collapsible');
      var instances = M.Collapsible.init(elems, options);
      //var instance = M.Collapsible.getInstance(elem);
    });

    // Or with jQuery

    $(document).ready(function () {
      $('.collapsible').collapsible();
    });


  </script>

</head>

<body>


  <div class="row">
    {%for c in comentarios%}
    <div class="col s7">
      <div class="card-panel teal">
        <span class="card-title"> {{c.titulo}}</span><br>
        <span class="white-text">{{c.descripcion}}</span>
      </div>
    </div>
  
  {% endfor %}
  
    <div class="col s5">
      <div class="card  indigo lighten-5 ">
        <div class="card-content red-text">
          <form action="" class="Fomulario" method="POST">
            {% csrf_token %}
            {{form}}
            <input type="submit" class="btn btn-primary" name="enviar" id="enviar" value="Comentar">

          </form>
        </div>
      </div>
    </div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
{% include "home/footer.html" %}

</html>