<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col 16 s12">
          <h5 class="white-text">Las Mangas</h5>
          <p class="grey-text text-lighten-4">Esta vereda tiene lo mejor para ti</p>
          <p class="grey-text text-lighten-4">Juan Jose Diaz Gallego - Santiago Castañeda Gonzales</p>

        </div>
        <div class="col l4 offset-l2 s12">

        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        2021 - Colombia - Risaralda - Pereira - Universidad Católica de Pereira
        <a class="grey-text text-lighten-4 right" href="/sugerencias/">¿Tienes alguna sugerencia para el sitio?</a>
      </div>
    </div>
  </footer>
  <!--JavaScript at end of body for optimized loading-->
