<style>
    .header-juan img {

        width: 100%;
        /*background: url() no-repeat; -->*/

        /*position: center;*/
        height: 100%;
        /*background-position-x: 45px;*/
        object-fit: fill;
        margin-bottom: -6px;


    }
</style>

<div class="header-juan">
    <img src="{{home.0.imagen_header.url}}" >
</div>


<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<!--Let browser know website is optimized for mobile-->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="/historia/">Histora</a></li>
    <li><a href="/interes/">Puntos de Interés</a></li>
    <li><a href="/sucesos/">Sucesos importantes</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="/galeria/">Galeria de imagenes</a></li>
</ul>

<ul id="dropdown2" class="dropdown-content">
    <li><a href="/historia/">Historia</a></li>
    <li><a href="/interes/">Puntos de Interés</a></li>
    <li><a href="/sucesos/">Sucesos importantes</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="/galeria/">Galeria de imagenes</a></li>
</ul>

<nav>
    <div class="nav-wrapper">

        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <a href="/" style="padding-left: 30px; font-size:2vw ">Vereda Las Mangas</a>
        <ul class="right hide-on-med-and-down">

            <li><a href="/anuncios/">Anuncios comunitarios</a></li>
            <li><a href="/actividades/">Actividades turísticas</a></li>
            <li><a href="/vias/">Cómo llegar y estado de las vías</a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Acerca de la vereda
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
        </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    <li><a href="/anuncios/">Anuncios comunitarios</a></li>
    <li><a href="/actividades/">Actividades turísticas</a></li>
    <li><a href="/vias/">Cómo llegar y estado de las vías</a></li>
    <li><a class="dropdown-trigger-mobile" href="#!" data-target="dropdown2">Acerca de la vereda
            <i class="material-icons right">arrow_drop_down</i>
        </a>
    </li>
</ul>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.sidenav');
        var options = "";
        var instances = M.Sidenav.init(elems, options);
    });

    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.sidenav');
        var options = "";
        var instances = M.Sidenav.init(elems, options);

    });

    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.dropdown-trigger');
        var options = "";
        var instances = M.Dropdown.init(elems, options);
    });

    document.addEventListener('DOMContentLoaded', function () {
        var elemsMobile = document.querySelectorAll('.dropdown-trigger-mobile');
        var optionsMobile = "";
        var instancesMobile = M.Dropdown.init(elemsMobile, optionsMobile);
    });

</script>